@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1545807318834');
    src: url('iconfont.eot?t=1545807318834#iefix') format('embedded-opentype'),
      url('iconfont.woff?t=1545807318834') format('woff'),
      url('iconfont.ttf?t=1545807318834') format('truetype'),
      url('iconfont.svg?t=1545807318834#iconfont') format('svg');
  }
  .icon-font {
    font-family: "iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}